/*----------------------------------------------   
--Fonts
-----------------------------------------------  */
$font-header: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-paragraph: "Noto Serfif", georgia, times, serif;

/*----------------------------------------------   
--MQs
-----------------------------------------------  */
$mq-xsmall: 22em;
$mq-small: 32em;
$mq-med: 54em;
//laptop
$mq-large: 65em;
//Past laptop
$mq-xlarge: 91em;
//Mid Size monitor
$mq-xxlarge: 115em;
//Thunderbold goes to 157em
$mq-xxxlarge: 132em;

/*----------------------------------------------   
--Defualts
-----------------------------------------------  */
$base-lineheight: 1.714285714em;

/*----------------------------------------------   
--Colors
-----------------------------------------------  */
$color-alpha: #E13587;
